*.npy
*.t7
pifuhd/checkpoints/pifuhd.pt
pifuhd/checkpoints/pifuhd.pt.1
pifuhd/checkpoints/pifuhd.pt.2
pifuhd/results/
pifuhd/sample_images/
pifuhd/images/
processed_images/
pifuhd/logs/
logs/
combing_models/data
images/